.button {
  display: inline-block;
  margin-bottom: 20px;
  padding: 15px 30px;
  background: #1d3557;
  color: #f1faee;
  font-size: 24px;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

:hover.button {
  background-color: #a8dadc;
  color: #1d3557;
}

.star {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 48px;
  cursor: pointer;
  transition: transform 0.2s;
  transition-timing-function: ease-in-out;
}

:hover.star {
  transform: rotate(-45deg);
}

.article {
  padding: 30px;
  background: #a8dadc;
  border-radius: 5px;
  color: #54819e;
  text-align: center;
}

.article-title {
  margin-bottom: 12px;
  font-size: 24px;
}

.article .article-title {
  transition: transform 1s;
  transition-timing-function: ease-in-out;
  transition-delay: 0.2s;
}
.article:hover .article-title {
  font-size: 29px;
}

.article:hover {
  color: #1d3557;
}
